@{
    ViewData["Title"] = "Sales";
}

<div class="text-center">

    <div class="gap2 d-md-flex justify-content-md-end">
        <a class="btn btn-success role-" Button" asp-controller="Sales" asp-action="Add">Add Sales</a>
    </div>

    <br />
    <br />

    <h1 class="display-4"> List Sales </h1>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Sale Identifier</th>
                <th scope="col">Date</th>
                <th scope="col">Hour</th>
                <th scope="col">Client</th>
                <th scope="col">Products Sold</th>
                <th scope="col">Observations</th>
                <th scope="col">Final value</th>
                <th scope="col">Order status</th>
                <th scope="col">Payment</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>do</td>
                <td>Mark</td>
                <td>Mark</td>
                <td>Mark</td>
                <td>Mark</td>
                <td>Mark</td>
                <td>Mark</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary">Edit</a>
                        <a role="button" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>do</td>
                <td>Mark</td>
                <td>Mark</td>
                <td>Mark</td>
                <td>Mark</td>
                <td>Mark</td>
                <td>Mark</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary">Edit</a>
                        <a role="button" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>do</td>
                <td>Mark</td>
                <td>Mark</td>
                <td>Mark</td>
                <td>Mark</td>
                <td>Mark</td>
                <td>Mark</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary">Edit</a>
                        <a role="button" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>
