@{
    Layout = "_LayoutLoggedOut";
    ViewData["Title"] = "Page Restrict";
}



<p>You do not have permission to access this functionality, <a asp-controller="Home" asp-action="Index">click here to go back Home</a> </p>