<div class="text-center">
    <h1 class="display-4">Add Category</h1>
</div>

<form>
    <div class="form-group">
        <label for="categoryName">Name</label>
        <input type="text" class="form-control" id="categoryName" placeholder="Name Category">
    </div>

    <div class="form-group">
        <label for="categoryDescription">Description</label>
        <textarea class="form-control" id="categoryDescription" rows="3" placeholder="Description Category"></textarea>
    </div>

</form>
