@{
    ViewData["Title"] = "Category";
}

<div class="text-center">

    <div class="gap2 d-md-flex justify-content-md-end">
        <a class="btn btn-success role-"button" asp-controller="Category" asp-action="Add">Add Category</a>
    </div>

    <br />
    <br />

    <h1 class="display-4"> List Category </h1>
    <br />

    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Mark</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary">Edit</a>
                        <a role="button" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Mark</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary">Edit</a>
                        <a role="button" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Mark</td>
                <td>Mark</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary">Edit</a>
                        <a role="button" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


</div>
